main {
    padding: 20px;
  }
  
  .carousel-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 12px;
  }
  
  .carousel {
    display: flex;
    gap: 16px;
  }
  
  .slide {
    min-width: 300px;
    height: 200px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: #282c34;
    color: white;
    font-size: 24px;
    border-radius: 12px;
  }